#calculator-container input		/* USED TO BE INPUT {...} */
{
	position:relative;
	width:45px;
	height:45px;
	padding:0;
	margin:0;
					
	font-size:18px;
	font-weight:900;
}
#memsrow input
{
	position:relative;
	width:45px;
	height:30px;
	padding:0;
	margin:0;
					
	font-size:18px;
	font-weight:900;
}

#calculator-container table
{
	border-style:solid;
	border-width:2px;
	border-color: gray;
	background-color:#E6EFF2;
	padding:10px;
	padding-bottom:5px;
	padding-top:20px;
	
	margin:auto;
}
#calculator-container td
{
	max-width:45px;
	min-width:45px;
	height:45px;
	
	margin:0;
	padding:1px;
}
#calculator-container #memsrow td
{
	max-width:30px;
	min-width:30px;
	height:30px;
	
	margin:0;
	padding:1px;
}
#calculator-container th
{
	font-size:22px;
	font-family:sans-serif;
	text-align:center;
	font-weight:900;
}
#calculator-container
{
	background-color:#F3F3F3;
	padding-bottom:50px;
}
.embed
{
	background-color:transparent !important;
	padding:0 !important;
}
#calculator
{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	
	background-color:transparent;
	border:0;
}
#calculator-container #display
{
	padding:0 14px;
	
	background-color:#93DF94;
	border-style:solid;
	border-width:1px;
	border-color:#56A257;
	position:relative;
	
	font-size:20px;
	font-family:monospace;
	font-weight:900;
	text-align:right;
}
#display #memory
{
	position:absolute;				/*SUGGEST: Removing all these GODDAMN hacks*/
	font-size:13px !important;
	margin-left:-5px;
	margin-top:-5px;
	/* IE FIXES */
	*margin-left:0;
	*margin-top:0;
	*top:5px;
	*left:5px;
	_margin-left:0;
	_margin-top:0;
	_top:5px;
	_left:5px;
}
#clear
{
	color:#fff;
	background-color:#E02D55;
}
#calculator-container .branding
{
	text-align:right;
	font-size:12px;
	padding:0;
	padding-top:3px;
}
#calculator-container .branding a
{
	text-decoration:none;
	color:#000;
}
#calculator-container .branding a:hover
{
	text-decoration:underline;
	color:#000;
}
#calculator-container .branding a:visited
{
	color:#000;
}
input.nums
{
	color:#fff;
	background-color:#17324D;
}
input.ops
{
	color:#fff;
	background-color:#94AEB7;
}
input.mems
{
	color:#fff;
	background-color:#37789E;
}
span.nums
{
	background-color:#17324D;
	color:white;
	padding:3px;
	width:12px;
	height:12px;
	line-height:12px;
	display:inline-block;
	position: relative;
	border:1px solid gray;
}
span.clear
{
	background-color:#E02D55;
	color:white;
	padding:3px;
	width:12px;
	height:12px;
	line-height:12px;
	display:inline-block;
	position: relative;
	border:1px solid gray;
}
span.ops
{
	background-color:#94AEB7;
	color:white;
	padding:3px;
	width:12px;
	height:12px;
	line-height:12px;
	display:inline-block;
	position: relative;
	border:1px solid gray;
}
span.mems
{
	background-color:#37789E;
	color:white;
	padding:3px;
	width:22px;
	height:12px;
	line-height:12px;
	display:inline-block;
	position: relative;
	border:1px solid gray;
}