#logarithm-container
 {
	background-color:#F3F3F3;
	padding-bottom:50px;
	text-align:center;
}

#logarithm-container #logarithm
{
	width:350px;
	padding: 5px 25px;
	margin: 0 auto;
	background-color: #E6EFF2;
	border-style: solid;
	border-width: 2px;
	border-color: #808080;
}

#logarithm-container input[type="text"]
{
	text-align: center;
	width: 125px;
}

#logarithm-container input[type="text"].invalid
{
	background-color:#fbb;
}

#logarithm-container input[type="button"] 
{
	padding-left: 15px;
	padding-right: 15px;
	font-size:18px;
	font-weight: 900;
	color: white;
	background-color: #17324D;
}

#logarithm-container .pane, #logarithm-container .button-pane
{
	padding: 10px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #b0b0b0;
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#logarithm-container .button-pane
{
	position: relative;
	border-style: none;
	padding: 0;
	padding-left: 10px;
	text-align: left;
}

#logarithm-container .branding
{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align:right;
	font-size:12px;
	padding:0;
	padding-top:3px;
	font-weight: 900;
	font-family: sans-serif;
}
#logarithm-container .branding a
{
	text-decoration:none;
	color:#000;
}
#logarithm-container .branding a:hover
{
	text-decoration:underline;
	color:#000;
}
#logarithm-container .branding a:visited
{
	color:#000;
}
.embed
{
	background-color:transparent !important;
	padding:0 !important;
}