#mortgage-container
 {
	background-color:#F3F3F3;
	padding-bottom:50px;
	text-align:center;
}

#mortgage-container #mortgage
{
	width:350px;
	padding: 5px 25px;
	margin: 0 auto;
	background-color: #E6EFF2;
	border-style: solid;
	border-width: 2px;
	border-color: #808080;
}

#mortgage-container input[type="text"], #mortgage-container select, #mortgage-container #radios
{
	float:right;
	width: 150px;
}

#mortgage-container input[type="text"].invalid
{
	background-color:#fbb;
}

#mortgage-container input:disabled
{
	color: black;
	background-color: #EBEBE4;
}

#mortgage-container select
{
	width: 155px;
}

#mortgage-container input[type="button"] 
{
	padding-left: 15px;
	padding-right: 15px;
	font-size:18px;
	font-weight: 900;
	color: white;
	background-color: #17324D;
}

#mortgage-container label
{
	clear: left;
	float: left;
	line-height: 18px;
	margin:2px 0;
	padding: 2px 0;
}

#mortgage-container #radios label, #mortgage-container #radios label
{
	float:none;
}

#mortgage-container br
{
	clear:both;
}

#mortgage-container .pane, #mortgage-container .button-pane
{
	padding: 10px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #b0b0b0;
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mortgage-container .button-pane
{
	position: relative;
	border-style: none;
	padding: 0;
	padding-left: 10px;
	text-align: left;
}

#mortgage-container .spacer
{
	visibility: hidden;
}

#mortgage-container .down
{
	display: none;
}

#mortgage-container .branding
{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align:right;
	font-size:12px;
	padding:0;
	padding-top:3px;
	font-weight: 900;
	font-family: sans-serif;
}
#mortgage-container .branding a
{
	text-decoration:none;
	color:#000;
}
#mortgage-container .branding a:hover
{
	text-decoration:underline;
	color:#000;
}
#mortgage-container .branding a:visited
{
	color:#000;
}
.embed
{
	background-color:transparent !important;
	padding:0 !important;
}
/*
#mortgage-container .branding
{
	text-align:right;
	font-size:12px;
	padding:0;
	padding-top:3px;
}
#mortgage-container .branding a
{
	text-decoration:none;
	color:#000;
}
#mortgage-container .branding a:hover
{
	text-decoration:underline;
	color:#000;
}
#mortgage-container .branding a:visited
{
	color:#000;
}
*/