body
{
	padding:0;
	margin:0 auto;
	font-family:Verdana,Geneva,sans-serif;
	font-size:14px;
	text-align:center;
}
#header
{
	background-color:#262626;
	border-top:5px solid #000;
	border-bottom:3px solid #00B2FF;
	height:45px;
	display:block;
	text-align:left;
}
#header-center, #footer-center
{
	width:728px;
	margin: 0 auto;
}
#header-center a
{
	display: inline-block;
	overflow:auto;
}
#logo-container
{
	width:190px;
	height:45px;
	background-color:#383838;
	border-top:5px solid #262626;
	margin-top:-5px;
	border-bottom:3px solid #fff;
	background-image: url(http://www.a-calculator.com/images/logo.png);
	background-repeat: none;
	float:left;
}
#logo-container:hover
{
	background-color:#3D3D3D;
	border-top-color: #262626;
	border-bottom-color: #fff;
}
#footer
{
	background-color:#262626;
	color:#ccc;
	display:block;
	padding:5px;
	margin:0;
	margin-top:50px;
	
	background-image: url(http://www.a-calculator.com/images/footer-shadow.png);
    background-repeat: repeat-x;
	min-height: 200px;
	overflow: auto;
	padding-top:15px;
	text-align: left;
}
#footer a
{
	color: #ccc;
	text-decoration: none;
}
#footer a:hover
{
	color: white;
}
#other-calculators, #information
{
	float:left;
}
#footer ul
{
	float: left;
	list-style: none;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
	padding-right: 28px;
	width: 119px;
}
#footer ul.last
{
	padding: 0;
}
hr
{
	height: 1px;
	border: none;
	background-color: #454545;
	clear: both;
}

h5
{
	border-bottom: 1px solid #454545;
	padding-bottom: 12px;
	margin-bottom: 0;
	font-size: 13px;
	color: white;
}
#other-calculators h5
{
	width: 560px;
	margin-right: 28px;
	text-shadow: 0 2px 2px #111;
}
#information h5
{
	width: 140px;
	text-shadow: 0 2px 2px #111;
}
h2
{
	color:#424444;
	font-weight:100;
	font-size:40px;
}
li
{
	font-size:14px;
}
a
{
	color:#245DC1;
}
a:visited
{
	color:#7759AE;
}
ol
{
	text-align:left;
}
#header h1
{
	color:#E6EFF2;
	display:inline;
	margin-top:0;
	margin-bottom:0;
	margin-left:10px;
	margin-right:0;
	font-weight:100;
	font-size:55px;
}
h3
{	
	font-size:18px;
	font-weight:900;
	color:#424444;
}
h4
{
	color:#424444;
}
#header h2
{
	color:#94AEB7;
	display:inline;
	margin:0;
	padding:0;
	font-weight:400;
	font-size:14px;
}
#social
{
	background-color:#D2D9DB;
	text-align:center;
	padding:10px;
	
	border-style:solid;
	border-top-width:1px;
	border-top-color:#fff;
	border-bottom-width:1px;
	border-bottom-color:#A5A5A5;
	border-left-width:0;
	border-right-width:0;
}
#page-text
{
	background-color:#fff;
	text-align:left;
	width:728px;
	margin: 0 auto;
}
span.overline
{
	text-decoration:overline;
}
.google
{
	background-color:#F3F3F3;
	padding-top:30px;
	padding-bottom:30px;
	background-image: url(http://www.a-calculator.com/images/footer-shadow.png);
	background-repeat: repeat-x;
}
.zero-height
{
	height:0 !important;
}
.tall-button
{
	height:92px !important;
}
.wide-button
{
	width:92px !important;
}
.pi
{
	font-family: "Times New Roman","Nimbus Roman No9 L",Times,serif !important;
}
.formula
{
	text-align: center;
}
.invalid
{
	background-color:#fbb;
}
#embed
{
	padding-left:50px;
	padding-right:50px;
	display:block;
}

/* Style fixes for AddThis social buttons */
.addthis_default_style
{
	margin: 0 auto !important;
	overflow: auto !important;
	display: inline-block !important;
}
.addthis_button_facebook_like
{
	width: 78px !important;
	float:left !important;
}
.addthis_button_tweet
{
	width: 87px !important;
	float:left !important;
}
.addthis_button_google_plusone
{
	width: 66px !important;
	float:left !important;
}
.addthis_button_pinterest_pinit
{
	margin-right: 6px !important;
	float:left !important;
}
.addthis_counter_stumbleupon
{
	width: 71px !important;
	display: inline-block !important;
	float: left !important;
}
.addthis_counter
{
	float: left !important;
}
